include/
lib/
bin/activate
bin/activate.csh
bin/activate.fish
bin/activate_this.py
bin/easy_install
bin/easy_install-2.7
bin/gunicorn
bin/gunicorn_django
bin/gunicorn_paster
bin/ipcluster
bin/ipcontroller
bin/ipengine
bin/iplogger
bin/iptest
bin/ipython
bin/ipython-qtconsole
bin/irunner
bin/pip
bin/pip-2.7
bin/pycolor
bin/python
bin/python2.7
tags
build/
share/
